.modal{
    z-index: 5;
    display: none;
    position: fixed;
    background-color: var(--main-bg-color);
    border-radius: 15px;
    color: inherit;
    min-height: 5vh;
    min-width: 235px;
    width: 22.5vw;
}

.modal header{
    min-height: .75rem;
    border-bottom: 1px solid var(--layout-border-color);
}

.modal main{
    min-height: 1.5rem;
}

.arrow_div{
    width: 0;
    height: 0;
    border-left: 0.2rem solid var(--layout-border-color);
    border-right: 0.2rem solid var(--layout-border-color);
    border-top: 0.5rem solid var(--main-bg-color);
    position: relative;
    left: 10.75vw;
    top: 0.5rem;
    box-shadow: -0.1rem 0.1rem 0.1rem 0.05rem var(--layout-border-color), 0.1rem 0.1rem 0.1rem 0.05rem var(--layout-border-color);
}

#logout_menu {;
    bottom: 10vh;
    left: 2.5vw;
    box-shadow: -0.1rem -0.1rem 0.25rem var(--layout-border-color), -0.1rem 0.1rem 0.25rem var(--layout-border-color), 0.1rem -0.1rem 0.25rem var(--layout-border-color), 0.1rem 0.1rem 0.25rem var(--layout-border-color);
}

#logout_menu menu{
    gap: 0;
}

#logout_menu button{
    border: none;
    outline: none;
    color: inherit;
    background-color: var(--main-bg-color);
    font-weight: 550;
    padding: 1rem;
    font-size: var(--main-font-size);
    text-align: left;
    cursor: pointer;
}

#logout_menu button:hover{
    background-color: var(--main-hover-color);
}

@media (max-width: 1200px) {
    #logout_menu_arrow{
        left: 8.5vw;
    }
}

@media (max-width: 1130px) {
    #logout_menu_arrow{
        left: 5vw;
    }
}

@media (max-width: 1000px) {
    #logout_menu_arrow{
        left: 10.75vw;
    }
}

@media (max-width: 750px) {
    #logout_menu_arrow{
        left: 4.75vw;
    }
}