#profile{
    background-color: var(--main-bg-color);
    color: inherit;
    border: none;
    outline: none;
    border-radius: 34px;
    align-items: center;
    padding: 0.75rem;
    cursor: pointer;
    position: relative;
    top: 14vh;
    left: 1.5vw;
    column-gap: 0.75vw;;
}

#profile:hover{
    background-color: var(--main-hover-color);
}

#profile img{
    border-radius: inherit;
}

#profile_info{
    font-size: var(--main-font-size);
    font-weight: bold;
    margin-right: 0.75rem;
    text-align: left;
    gap: .2rem;
    white-space: nowrap;
}

#profile_info span{
    font-size: 0.9rem;
    font-weight: normal;
    color: var(--darker-font-color);
}

@media (max-width: 1100px){
    #profile{
        column-gap: 5px;
        margin: 0;
        padding: 0.5rem 0;
    }
    #profile_info{
        white-space: normal;
        margin: 0;
    }
}

@media (max-width: 1300px){
    #profile {
        padding: 0;
    }
}

@media (max-width: 1275px){
    #profile{
        left: 0;
    }
    #profile_info{
        display: none;
    }
    #profile img:last-child{
        display: none;
    }
}

@media (max-height: 750px) {
    #profile{
        top: 10vh;
    }
}

@media (max-height: 700px) {
    #profile{
        top: 4vh;
    }
}

@media (max-height: 650px) {
    #profile{
        position: static;
        margin-top: 0.1rem;
    }
}
