.searchbar input{
    background-color: var(--searchbar-bg-color);
    border-radius: 34px;
    padding: .8rem 1rem .8rem 3.5rem;
    width: 90%;
    border: 1px solid transparent;
    outline: none;
    font-size: var(--main-font-size);
    color: var(--main-font-color);
    justify-self: flex-start;
}

.searchbar input:last-child{
    display: none;
}

.searchbar img{
    position: relative;
    left: 2.375rem;
    top: 0.3rem;
}

.searchbar:focus-within input{
    border-color: var(--main-primary-color);
    background-color: var(--main-bg-color);
}

.searchbar:focus-within img{
    filter: invert(56%) sepia(56%) saturate(3211%) hue-rotate(176deg) brightness(94%) contrast(94%);
}

#sidebar_search{
    margin-top: .5rem;
}

#explore_section{
    flex-grow: 1;
}

#explore_section input{
    width: 93%;
    flex-grow: 1;
    margin: 0;
}