#sidebar{
    width: 33.25vw;
    position: relative;
    z-index: 1;
}

#sidebar > div{
    position: fixed;
    z-index: 1;
    padding: 0 2rem;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#sidebar > div::-webkit-scrollbar {
    display: none;
}

#sidebar_trends{
    width: 95%;
    border-radius: 16px;
    background-color: var(--lighter-bg-color);
    gap: 0;
    margin-top: .25rem;
}

#sidebar_trends h2{
    font-weight: 550;
    flex-grow: 1;
    padding: 1rem;
}

#sidebar_trends > a{
    color: var(--main-primary-color);
    font-weight: 550;
    flex-grow: 1;
    padding: 1rem;
}

#sidebar_trends > a:hover{
    background-color: var(--main-hover-color);
}

#tos{
    text-decoration: none;
    color: var(--darker-font-color);
    font-size: .775rem;
    padding: .5rem 1.05rem;
    margin: 0 1rem;
}

#tos a:not(div > a), #tos > div{
    display: inline-flex;
    margin-right: .75rem;
    padding: .2rem .15rem;
    gap: .15rem;
    align-items: center;
}

#tos > p {
    padding: .2rem .15rem;
}

#tos a:hover{
    text-decoration: underline;
}

#tos img{
    filter: invert(47%) sepia(8%) saturate(206%) hue-rotate(163deg) brightness(96%) contrast(91%);
}

@media (max-width: 1000px) {
    #sidebar > div{
        display: none;
    }
    #sidebar {
        display: none;
    }
}