#sidebar{
    width: 33.25vw;
    height: 100vh;
    position: relative;
}

#sidebar > div{
    position: fixed;
}

#tos{
    text-decoration: none;
    color: var(--darker-font-color);
    font-size: .775rem;
    padding: .5rem 1.05rem;
    margin: 0 1rem;
}

#tos a:not(div > a), #tos > div{
    display: inline-flex;
    margin-right: .75rem;
    padding: .2rem .15rem;
    gap: .15rem;
    align-items: center;
}

#tos > p {
    padding: .2rem .15rem;
}

#tos a:hover{
    text-decoration: underline;
}

#tos img{
    filter: invert(47%) sepia(8%) saturate(206%) hue-rotate(163deg) brightness(96%) contrast(91%);
}

@media (max-width: 1000px) {
    #sidebar > div{
        display: none;
    }
    #sidebar {
        display: none;
    }
}