#main_section {
    gap: 0;
    flex-grow: 100;
}

#main_section > main {
    position: relative;
    width: 37.8rem;
    border-left: 1px solid var(--layout-border-color);
    border-right: 1px solid var(--layout-border-color);
}

@media (max-width: 1000px) {
    #main_section > main {
        width: 37.8rem;
    }
}

@media (max-width: 750px) {
    #main_section > main {
        min-width: unset;
        width: 100%;
    }
    #main_section{
        width: 100%;
    }
}